  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    /* used colors */
    --clr-primary: hsl(1, 90%, 64%);
    --clr-secondary: hsl(219, 85%, 26%);
    --clr-White: hsl(0, 0%, 100%);
    --clr-Very-light-grayish-blue: hsl(210, 60%, 98%);
    --clr--Light-grayish-blue-1: hsl(211, 68%, 94%);
    --clr-Light-grayish-blue-2: hsl(205, 33%, 90%);
    --clr-Grayish-blue: hsl(219, 14%, 63%);
    --clr-Dark-grayish-blue: hsl(219, 12%, 42%);
    --clr-Very-dark-blue: hsl(224, 21%, 14%);

    /* Used typography */
    --ff:'Plus Jakarta Sans', sans-serif;
    --fw-500: 500;
    --fw-800: 800;

    /* Formats */
    --format-Mobile: 375px;
    --format-Desktop: 1440px;
}

/* for easy calculations used 10px, main font used is 16px */
body{
    font-family: var(--ff);
}

.container{
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--clr-White);
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

h1{
    display: inline;
    font-size: 1.3rem;
}

.counter{
    margin: 0 10px;
    padding: 2px 15px;
    font-weight: var(--fw-800);
    font-size: 1.1rem;
    color: var(--clr-White);
    background-color: var(--clr-Very-dark-blue);
    border-radius: 8px;
}

main{
    background-color: var(--clr-White);
    display: flex;
    flex-direction: column;
}

main, header{
    margin: 0 10px;
}

.notification{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.new-notification{
    background-color: var(--clr-Very-light-grayish-blue);
}

.oneNotif{
    padding: 10px 20px;
}

.name{
    font-weight: var(--fw-800);
}

button{
    border: none;
    background-color: var(--clr-White);
    font-size: 1.2rem;
    color:var(--clr-Dark-grayish-blue);
}

.status{
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
}

.unread{
    margin: 0px 10px;
    border-radius: 50%;
    background-color: red;
}

.avatar img{
    padding: 20px 0;
    max-width: 40px;
}

.timing{
    display: block;
    color: var(--clr-Grayish-blue);
}

.action{
    color:var(--clr-Dark-grayish-blue);
}

.message{
    margin: 20px 0;
    padding: 30px;
    border: 1px solid var(--clr--Light-grayish-blue-1);
    border-radius: 8px;
    color: var(--clr-Dark-grayish-blue);
}

a{
    text-decoration: none;
}

.group, .post{
    font-weight: var(--fw-800);
}

.name{
    color:var(--clr-Very-dark-blue);
}

.post{
    color:var(--clr-Dark-grayish-blue);
}

.group{
    color:var(--clr-secondary);
}

.picture{
    max-width: 50px;
}

button:hover, a:hover{
    cursor:pointer;
}

@media (min-width: 1440px) {

    h1{
        font-size: 1.5rem;
    }

    .counter{
        font-size: 1.2rem;
    }

    button{
        font-size: 1.2rem;
    }

    body{
        background-color: var(--clr-Very-light-grayish-blue2);
    }

    main, header{
        margin: 100px 50px;
    }

    .container{
        width:60%;
    }

}